@use '@angular/material' as mat;

$streamly-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$streamly-accent: mat.define-palette(mat.$light-blue-palette);
$streamly-warn: mat.define-palette(mat.$pink-palette, 600);

$streamly-theme: mat.define-light-theme(
  (
    color: (
      primary: $streamly-primary,
      accent: $streamly-accent,
      warn: $streamly-warn
    )
  )
);
