@use '@angular/material' as mat;

$streamly-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$streamly-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$streamly-black-warn: mat.define-palette(mat.$red-palette, 500);

$streamly-black-theme: mat.define-light-theme(
  (
    color: (
      primary: $streamly-black-primary,
      accent: $streamly-black-accent,
      warn: $streamly-black-warn
    )
  )
);
