@use '@angular/material' as mat;

$streamly-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$streamly-light-accent: mat.define-palette(mat.$brown-palette, 200);
$streamly-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$streamly-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $streamly-light-primary,
      accent: $streamly-light-accent,
      warn: $streamly-light-warn
    )
  )
);
