@use '@angular/material' as mat;

$streamly-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$streamly-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$streamly-nature-warn: mat.define-palette(mat.$red-palette, 600);

$streamly-nature-theme: mat.define-light-theme(
  (
    color: (
      primary: $streamly-nature-primary,
      accent: $streamly-nature-accent,
      warn: $streamly-nature-warn
    )
  )
);
